In [1]:
#import pandas library
import pandas as pd

In [2]:
#import sqllite
import sqlite3

In [3]:
#create sql table
create_table =""" CREATE TABLE student_score (id integer, name varchar(20),math real,science real);"""

In [5]:
#exicute the sql statemnet
executesql =sqlite3.connect(':memory:')
executesql.execute(create_table)
executesql.commit()

In [6]:
#prepare a sql query
sql_query = executesql.execute('select * from student_score')

In [7]:
print(sql_query)

<sqlite3.Cursor object at 0x00000238B1229420>

In [8]:
#fetch result from the sqllite database
resultset =sql_query.fetchall()

In [9]:
#view result(empty data)
resultset

[]

In [10]:
#prepare records to be insertted into sql table through sql statement
insertsql = [(10,'jack',85,92),
            (29,'syam',90,23),
            (35,'Ravi',56,97),
            (70,'Mohith',45,85)]

In [11]:
#insert records into sql table through sql statment
insert_statement =" Insert into student_score values(?,?,?,?)"
executesql.executemany(insert_statement,insertsql)
executesql.commit()

In [12]:
#prepare sql query
sql_query = executesql.execute("select * from student_score");

In [13]:
#fetch the resultset for the query
resultset =sql_query.fetchall()

In [14]:
resultset

[(10, 'jack', 85.0, 92.0),
 (29, 'syam', 90.0, 23.0),
 (35, 'Ravi', 56.0, 97.0),
 (70, 'Mohith', 45.0, 85.0)]

In [ ]:
#put the record in a dataframe
df_student_score = pd.DataFrame(resultset,columns =zip(*sql_query))