In [1]:
#import dependencies
import numpy as np
import pandas as pd

C:\Users\Viswajani\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Viswajani\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
#import scikit learn dataset
from sklearn.datasets import load_iris
iris_dataset =load_iris()

In [3]:
#use bulit in methods to explore and understand the data
print(iris_dataset['DESCR'])

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [4]:
#print the features of the dataset
print (iris_dataset['feature_names'])

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [5]:
#store data into datframe
df_iris= pd.DataFrame(iris_dataset.data)

In [6]:
df_iris

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [8]:
# set  features as columns on the dataframe
df_iris.columns = iris_dataset.feature_names

In [9]:
df_iris.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [10]:
df_iris

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [13]:
#print the data matrix(observations and features matrix)
print (iris_dataset.data.shape)

(150, 4)

In [14]:
#print target
print(iris_dataset['target'])

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [15]:
# create a pandas dataframe and store the data
df_iris = pd.DataFrame(iris_dataset.data)
df_iris.columns = iris_dataset.feature_names

In [17]:
x_features = iris_dataset.data

In [18]:
Y_target = iris_dataset.target

In [19]:
#import linear model -the estimator
from sklearn.linear_model import  LinearRegression
lineReg =  LinearRegression()

C:\Users\Viswajani\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [20]:
#fit data into the estimator
lineReg.fit(x_features,Y_target)

LinearRegression()

In [21]:
#print the intercept
print ('the estimated intercept %.2f' % lineReg.intercept_)

the estimated intercept 0.19

In [22]:
#print the coefficient
print('the coefficient is %d'%len(lineReg.coef_))

the coefficient is 4

In [23]:
#train model split the whole dataset into train and test datasets
from sklearn.model_selection  import train_test_split
x_train,x_test,Y_train,Y_test = train_test_split(x_features,Y_target)

In [24]:
#print the dataset shape
print( iris_dataset.data.shape)

(150, 4)

In [25]:
#print shapes of the training and testing datasets
print(x_train.shape,x_test.shape,Y_train.shape,Y_test.shape)

(112, 4) (38, 4) (112,) (38,)

In [26]:
#fit the training sets into the model
lineReg.fit(x_train,Y_train)

LinearRegression()

In [27]:
#The mean square error (MSE) or residual sum of squares
print('MSE value is  %.2f' % np.mean((lineReg.predict(x_test)-Y_test)** 2))

MSE value is  0.04

In [28]:
# calculate variance
print ('Varience score is %.2f'%lineReg.score(x_test,Y_test))

Varience score is 0.92

In [29]:
#first use KNN classifier method - import it from sklearn
from sklearn.neighbors import KNeighborsClassifier

C:\Users\Viswajani\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Viswajani\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [39]:
#instantiate the KNN estimator
knn = KNeighborsClassifier(n_neighbors=2)

In [40]:
#print the knn
print(knn)

KNeighborsClassifier(n_neighbors=2)

In [41]:
#fit data into knn model(estimator)
knn.fit(x_features,Y_target)

KNeighborsClassifier(n_neighbors=2)

In [53]:
#create object with new values for perdiction
X_new =[[3,5,4,1],[5,3,4,2]]

In [54]:
#predict the outcome for the new observation using knn classifier
knn.predict(X_new)

array([1, 1])

In [55]:
#use the logistic regression estimator
from sklearn.linear_model import LogisticRegression
logReg = LogisticRegression(max_iter=10000)

In [58]:
#fit data into the logistic regression estimator
logReg.fit(x_features,Y_target)

LogisticRegression(max_iter=10000)

In [59]:
#predict the outcome using logistic regression estomator
logReg.predict(X_new)

array([0, 1])